.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: right;
}

.example-button-container {
  display: flex;
  justify-content: middle;
}
.example-label {
  display: flex;
  justify-content: center;
}

.content-body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.example-card {
  display: flex;
}

mat-card-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
